In [ ]:
1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [2]:
test1 = 'This is a test of the emergency text system'
len(test1)

43

In [3]:
outfile = open('test.txt', 'wt')
outfile.write(test1)

43

In [4]:
outfile.close()

In [ ]:
2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [5]:
with open('test.txt', 'rt') as infile:
    test2 = infile.read()
    
len(test2)

43

In [6]:
test1 == test2

True

In [ ]:
3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [7]:
text='''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

In [8]:
with open('books.csv', 'wt') as outfile:
    outfile.write(text)

In [ ]:
4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [9]:
import sqlite3
db = sqlite3.connect('books.db')

curs = db.cursor()

curs.execute('''create table book (title text, author text, year int)''')

In [10]:
db.commit()

In [ ]:
5. Read books.csv and insert its data into the book table.

In [12]:
import csv
import sqlite3


ins_str = 'insert into book values(?, ?, ?)'

with open('books.csv', 'rt') as infile:
    books = csv.DictReader(infile)
    for book in books:
        curs.execute(ins_str, (book['title'], book['author'], book['year']))
db.commit()

In [ ]:
6. Select and print the title column from the book table in alphabetical order.

In [13]:
sql = 'select title from book order by title asc'

for row in db.execute(sql):
    print(row)

('Perdido Street Station',)
('Perdido Street Station',)
('Small Gods',)
('Small Gods',)
('The Spellman Files',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('The Weirdstone of Brisingamen',)
('Thud!',)
('Thud!',)

In [14]:
for row in db.execute(sql):
    print(row[0])

Perdido Street Station
Perdido Street Station
Small Gods
Small Gods
The Spellman Files
The Spellman Files
The Weirdstone of Brisingamen
The Weirdstone of Brisingamen
Thud!
Thud!

In [ ]:
7. From the book table, select and print all columns in the order of publication.

In [15]:
for row in db.execute('select * from book order by year'):
    print(row)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('The Spellman Files', 'Lisa Lutz', 2007)

In [16]:
for row in db.execute('select * from book order by year'):
    print(*row, sep=', ')

The Weirdstone of Brisingamen, Alan Garner, 1960
The Weirdstone of Brisingamen, Alan Garner, 1960
Small Gods, Terry Pratchett, 1992
Small Gods, Terry Pratchett, 1992
Perdido Street Station, China Miéville, 2000
Perdido Street Station, China Miéville, 2000
Thud!, Terry Pratchett, 2005
Thud!, Terry Pratchett, 2005
The Spellman Files, Lisa Lutz, 2007
The Spellman Files, Lisa Lutz, 2007

In [ ]:
8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [17]:
import sqlalchemy

conn = sqlalchemy.create_engine('sqlite:///books.db')
sql = 'select title from book order by title asc'
rows = conn.execute(sql)

for row in rows:
     print(row)

('Perdido Street Station',)
('Perdido Street Station',)
('Small Gods',)
('Small Gods',)
('The Spellman Files',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('The Weirdstone of Brisingamen',)
('Thud!',)
('Thud!',)

In [ ]:
9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [28]:
pip install redis

Requirement already satisfied: redis in c:\users\bhagyesh\anaconda3\lib\site-packages (5.0.0)
Requirement already satisfied: async-timeout>=4.0.2 in c:\users\bhagyesh\anaconda3\lib\site-packages (from redis) (4.0.3)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import redis

r = redis.StrictRedis(host='localhost', port=6379, db=0)

r.hset('test', 'count', 1)
r.hset('test', 'name', 'Fester Bestertester')

fields = r.hkeys('test')

for field in fields:
    value = r.hget('test', field)
    print(f'{field.decode("utf-8")}: {value.decode("utf-8")}')

In [ ]:
10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test', 'count', 3)
4
conn.hget('test', 'count')
b'4'